In [143]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
pd.set_option("display.max_columns",100)
import warnings
warnings.simplefilter('ignore')

In [144]:
#Veriyi yüklüyoruz
df=pd.read_csv('LoansTrainingSet.csv')

# EDA işlemlerini yapıyoruz

In [145]:
df.head()

,Loan ID,Customer ID,Loan Status,Current Loan Amount,Term,Credit Score,Years in current job,Home Ownership,Annual Income,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,000025bb-5694-4cff-b17d-192b1a98ba44,5ebc8bb1-5eb9-4404-b11b-a6eebc401a19,Fully Paid,11520,Short Term,741.0,10+ years,Home Mortgage,33694.0,Debt Consolidation,$584.03,12.3,41.0,10,0,6760,16056,0.0,0.0
1,00002c49-3a29-4bd4-8f67-c8f8fbc1048c,927b388d-2e01-423f-a8dc-f7e42d668f46,Fully Paid,3441,Short Term,734.0,4 years,Home Mortgage,42269.0,other,"$1,106.04",26.3,NaN,17,0,6262,19149,0.0,0.0
2,00002d89-27f3-409b-aa76-90834f359a65,defce609-c631-447d-aad6-1270615e89c4,Fully Paid,21029,Short Term,747.0,10+ years,Home Mortgage,90126.0,Debt Consolidation,"$1,321.85",28.8,NaN,5,0,20967,28335,0.0,0.0
3,00005222-b4d8-45a4-ad8c-186057e24233,070bcecb-aae7-4485-a26a-e0403e7bb6c5,Fully Paid,18743,Short Term,747.0,10+ years,Own Home,38072.0,Debt Consolidation,$751.92,26.2,NaN,9,0,22529,43915,0.0,0.0
4,0000757f-a121-41ed-b17b-162e76647c1f,dde79588-12f0-4811-bab0-e2b07f633fcd,Fully Paid,11731,Short Term,746.0,4 years,Rent,50025.0,Debt Consolidation,$355.18,11.5,NaN,12,0,17391,37081,0.0,0.0

In [146]:
df.tail()

,Loan ID,Customer ID,Loan Status,Current Loan Amount,Term,Credit Score,Years in current job,Home Ownership,Annual Income,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
256979,fffef5b7-be99-4666-ac70-2a397d2ee435,7211a8e3-cba4-4132-b939-222eed8a662c,Fully Paid,3911,Short Term,NaN,2 years,Rent,NaN,Debt Consolidation,"$1,706.58",19.9,NaN,16,0,43992,44080,0.0,0.0
256980,ffffca93-aa8c-4123-b8ff-7852f6df889a,616fef0c-8f09-4327-9b5c-48fcfaa52934,Fully Paid,5078,Short Term,737.0,10+ years,Own Home,77186.0,Debt Consolidation,"$1,376.47",19.1,47.0,9,0,1717,9758,0.0,0.0
256981,ffffcb2e-e48e-4d2c-a0d6-ed6bce5bfdbe,971a6682-183b-4a52-8bce-1d3429ade295,Charged Off,12116,Short Term,7460.0,9 years,Home Mortgage,52504.0,Debt Consolidation,$297.96,15.1,82.0,8,0,3315,20090,0.0,0.0
256982,ffffcb2e-e48e-4d2c-a0d6-ed6bce5bfdbe,971a6682-183b-4a52-8bce-1d3429ade295,Charged Off,12116,Short Term,746.0,9 years,Home Mortgage,52504.0,Debt Consolidation,$297.96,15.1,82.0,8,0,3315,20090,0.0,0.0
256983,ffffe32e-ed17-459f-9cfd-7b9ee7972933,97281336-1e45-41d2-acb2-263ce56a590e,Fully Paid,27902,Long Term,678.0,10+ years,Home Mortgage,117480.0,Debt Consolidation,"$2,525.82",18.0,11.0,10,0,28317,62371,0.0,0.0

In [147]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256984 entries, 0 to 256983
Data columns (total 19 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Loan ID                       256984 non-null  object
 1   Customer ID                   256984 non-null  object
 2   Loan Status                   256984 non-null  object
 3   Current Loan Amount           256984 non-null  int64
 4   Term                          256984 non-null  object
 5   Credit Score                  195308 non-null  float64
 6   Years in current job          245508 non-null  object
 7   Home Ownership                256984 non-null  object
 8   Annual Income                 195308 non-null  float64
 9   Purpose                       256984 non-null  object
 10  Monthly Debt                  256984 non-null  object
 11  Years of Credit History       256984 non-null  float64
 12  Months since last delinquent  116601 non-null  float64
 13  Number of Open Accounts       256984 non-null  int64
 14  Number of Credit Problems     256984 non-null  int64
 15  Current Credit Balance        256984 non-null  int64
 16  Maximum Open Credit           256984 non-null  object
 17  Bankruptcies                  256455 non-null  float64
 18  Tax Liens                     256961 non-null  float64
dtypes: float64(6), int64(4), object(9)
memory usage: 37.3+ MB

In [148]:
df.isnull().sum()

Loan ID                              0
Customer ID                          0
Loan Status                          0
Current Loan Amount                  0
Term                                 0
Credit Score                     61676
Years in current job             11476
Home Ownership                       0
Annual Income                    61676
Purpose                              0
Monthly Debt                         0
Years of Credit History              0
Months since last delinquent    140383
Number of Open Accounts              0
Number of Credit Problems            0
Current Credit Balance               0
Maximum Open Credit                  0
Bankruptcies                       529
Tax Liens                           23
dtype: int64

## "Loan Status" sütunu işlemleri

In [149]:
#Tekil değerlere bakıyoruz
df['Loan Status'].unique()

array(['Fully Paid', 'Charged Off'], dtype=object)

In [150]:
#İki değişkeni 1 ve 0 ile ifade ediyoruz
df['Loan Status']=df['Loan Status'].map({'Fully Paid':1,'Charged Off':0})

# "Term" sütunu işlemleri

In [151]:
#Tekil değerlere bakıyoruz
df['Term'].unique()

array(['Short Term', 'Long Term'], dtype=object)

In [152]:
#İki değişkeni 1 ve 0 ile ifade ediyoruz
df['Term']=df['Term'].map({'Short Term':0,'Long Term':1})

In [153]:
df.head()

,Loan ID,Customer ID,Loan Status,Current Loan Amount,Term,Credit Score,Years in current job,Home Ownership,Annual Income,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,000025bb-5694-4cff-b17d-192b1a98ba44,5ebc8bb1-5eb9-4404-b11b-a6eebc401a19,1,11520,0,741.0,10+ years,Home Mortgage,33694.0,Debt Consolidation,$584.03,12.3,41.0,10,0,6760,16056,0.0,0.0
1,00002c49-3a29-4bd4-8f67-c8f8fbc1048c,927b388d-2e01-423f-a8dc-f7e42d668f46,1,3441,0,734.0,4 years,Home Mortgage,42269.0,other,"$1,106.04",26.3,NaN,17,0,6262,19149,0.0,0.0
2,00002d89-27f3-409b-aa76-90834f359a65,defce609-c631-447d-aad6-1270615e89c4,1,21029,0,747.0,10+ years,Home Mortgage,90126.0,Debt Consolidation,"$1,321.85",28.8,NaN,5,0,20967,28335,0.0,0.0
3,00005222-b4d8-45a4-ad8c-186057e24233,070bcecb-aae7-4485-a26a-e0403e7bb6c5,1,18743,0,747.0,10+ years,Own Home,38072.0,Debt Consolidation,$751.92,26.2,NaN,9,0,22529,43915,0.0,0.0
4,0000757f-a121-41ed-b17b-162e76647c1f,dde79588-12f0-4811-bab0-e2b07f633fcd,1,11731,0,746.0,4 years,Rent,50025.0,Debt Consolidation,$355.18,11.5,NaN,12,0,17391,37081,0.0,0.0

# "Credit Score" sütunu işlemleri

In [154]:
#kredi skoru 800 den büyük olanları 10 bölüyoruz
df["Credit Score"] = df["Credit Score"].apply(lambda x: x / 10 if x > 800 else x)

In [155]:
#Boş veri sayısını buluyoruz
df["Credit Score"].isnull().sum()

61676

In [156]:
#Boş veriyi dolu verinin ortalaması ile dolduruyoruz
df["Credit Score"] =  df["Credit Score"].fillna(df["Credit Score"].mean())

# "Years in current job" sütunu işlemleri

In [157]:
#Tekil değerlere baktık
df["Years in current job"].unique()

array(['10+ years', '4 years', '6 years', '5 years', nan, '3 years',
       '2 years', '< 1 year', '1 year', '7 years', '9 years', '8 years'],
      dtype=object)

In [158]:
#'<1 year' değerini 0.5 olarak değiştiredik
df["Years in current job"] = df["Years in current job"].replace("< 1 year", "0.5")

In [159]:
#Bu sütundaki rakam olmayan karaktaerleri çıkardık
df["Years in current job"] =  df["Years in current job"].str.extract(r'(\d+(\.\d+)?)')

In [160]:
#Boş veri sayısına baktık
df["Years in current job"].isnull().sum()

11476

In [162]:
#Boş verileri 0 ile doldurduk. Çalışmıyor veya daha önce çalışmamış olduğunu kabul ettik
df["Years in current job"] =  df["Years in current job"].fillna(0)

In [164]:
#Veri türünü inetegera çevirdik
df["Years in current job"] =  df["Years in current job"].astype(float)

In [165]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256984 entries, 0 to 256983
Data columns (total 19 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Loan ID                       256984 non-null  object
 1   Customer ID                   256984 non-null  object
 2   Loan Status                   256984 non-null  int64
 3   Current Loan Amount           256984 non-null  int64
 4   Term                          256984 non-null  int64
 5   Credit Score                  256984 non-null  float64
 6   Years in current job          256984 non-null  float64
 7   Home Ownership                256984 non-null  object
 8   Annual Income                 195308 non-null  float64
 9   Purpose                       256984 non-null  object
 10  Monthly Debt                  256984 non-null  object
 11  Years of Credit History       256984 non-null  float64
 12  Months since last delinquent  116601 non-null  float64
 13  Number of Open Accounts       256984 non-null  int64
 14  Number of Credit Problems     256984 non-null  int64
 15  Current Credit Balance        256984 non-null  int64
 16  Maximum Open Credit           256984 non-null  object
 17  Bankruptcies                  256455 non-null  float64
 18  Tax Liens                     256961 non-null  float64
dtypes: float64(7), int64(6), object(6)
memory usage: 37.3+ MB

# 'Home Ownership' sütunu işlemleri

In [88]:
#tekil değerlere baktık
df['Home Ownership'].unique()

array(['Home Mortgage', 'Own Home', 'Rent', 'HaveMortgage'], dtype=object)

In [89]:
#Have Mortgage ile home mortgagei aynı kabul edip have mortgagei home mortgaege olarak değiştirdik
df["Home Ownership"] = df["Home Ownership"].replace("HaveMortgage", "Home Mortgage")

In [90]:
#Tekil dğerler 4 ten 3 e düştü
df['Home Ownership'].unique()

array(['Home Mortgage', 'Own Home', 'Rent'], dtype=object)

# "Annual Income" sütunu işlemleri

In [91]:
#Boş veri sayısına baktık
df["Annual Income"].isnull().sum()

61676

In [92]:
#describe ile özet istatistiğine baktık
df["Annual Income"].describe()

count    1.953080e+05
mean     7.195272e+04
std      5.887757e+04
min      0.000000e+00
25%      4.432100e+04
50%      6.124200e+04
75%      8.646200e+04
max      8.713547e+06
Name: Annual Income, dtype: float64

In [93]:
#Boş verileri mevcut verilerin median ı ile doldurduk
df["Annual Income"] = df["Annual Income"].fillna(df["Annual Income"].median())

In [166]:
#tekardan describe ile özet istatistiğine baktık
df["Annual Income"].describe()

count    1.953080e+05
mean     7.195272e+04
std      5.887757e+04
min      0.000000e+00
25%      4.432100e+04
50%      6.124200e+04
75%      8.646200e+04
max      8.713547e+06
Name: Annual Income, dtype: float64

# "Purpose" sütunu işlemleri

In [95]:
#Tekil değerlere baktık
df["Purpose"].unique()

array(['Debt Consolidation', 'other', 'Business Loan',
       'Home Improvements', 'Buy House', 'Other', 'Buy a Car',
       'Medical Bills', 'Take a Trip', 'Educational Expenses'],
      dtype=object)

In [96]:
#other değerini Other olarak düzelltik
df["Purpose"] = df["Purpose"].replace("other", "Other")

In [97]:
#boş veri sayısını kontrol etttik
df["Monthly Debt"].isnull().sum()

0

# "Monthly Debt" sütunu işlemleri

In [98]:
df["Monthly Debt"].head()

0       $584.03
1    $1,106.04
2    $1,321.85
3       $751.92
4       $355.18
Name: Monthly Debt, dtype: object

In [99]:
#Bu sütundaki verilerdeki , ve $ işaretlerini kaldırdık
df["Monthly Debt"] =  df["Monthly Debt"].str.replace("$", "").str.replace(",", "").astype(float)

In [100]:
df["Monthly Debt"].head()

0     584.03
1    1106.04
2    1321.85
3     751.92
4     355.18
Name: Monthly Debt, dtype: float64

# "Months since last delinquent" sütunu işlemleri

In [167]:
#boş veri sayısını kontrol etttik
df["Months since last delinquent"].isnull().sum()

140383

In [103]:
#boş değerleri hiç gecikme yaşanmamıştır kabul ederek 0 ile doldurduk
df["Months since last delinquent"]=df["Months since last delinquent"].fillna(0)

In [104]:
df["Months since last delinquent"].isnull().sum()

0

In [105]:
#veri türünü integera çevirdik
df["Months since last delinquent"]=df["Months since last delinquent"].astype(int)

# işlem yapılmayan bazı sütunlar

In [106]:
df["Number of Open Accounts"].isnull().sum()

0

In [107]:
df["Number of Credit Problems"].isnull().sum()

0

In [101]:
df["Years of Credit History"].isnull().sum()

0

In [108]:
df["Current Credit Balance"].isnull().sum()

0

# "Bankruptcies" sütunu işlemleri

In [168]:
#boş verileri kontrol ettik
df["Bankruptcies"].isnull().sum()

529

In [112]:
#describe a baktık
df["Bankruptcies"].describe()

count    256455.000000
mean          0.110316
std           0.336229
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           7.000000
Name: Bankruptcies, dtype: float64

In [113]:
#boş değerleri mevcut değerlerin median ı ile doldurduk
df["Bankruptcies"] = df["Bankruptcies"].fillna(df["Bankruptcies"].median())

In [114]:
df["Bankruptcies"].describe()

count    256984.000000
mean          0.110089
std           0.335920
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           7.000000
Name: Bankruptcies, dtype: float64

In [115]:
df["Bankruptcies"].isnull().sum()

0

# "Tax Liens" sütunu işlemleri

In [116]:
#describe a baktık
df["Tax Liens"].isnull().sum()

23

In [117]:
df["Tax Liens"].describe()

count    256961.000000
mean          0.027203
std           0.245950
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max          11.000000
Name: Tax Liens, dtype: float64

In [118]:
#boş değerleri mevcut değerlerin median ı ile doldurduk
df["Tax Liens"] = df["Tax Liens"].fillna(df["Tax Liens"].median())

In [119]:
#en son veri setimizin sütun bilgilerine bir daha kontrol ettik
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256984 entries, 0 to 256983
Data columns (total 19 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Loan ID                       256984 non-null  object
 1   Customer ID                   256984 non-null  object
 2   Loan Status                   256984 non-null  int64
 3   Current Loan Amount           256984 non-null  int64
 4   Term                          256984 non-null  int64
 5   Credit Score                  256984 non-null  float64
 6   Years in current job          256984 non-null  float64
 7   Home Ownership                256984 non-null  object
 8   Annual Income                 256984 non-null  float64
 9   Purpose                       256984 non-null  object
 10  Monthly Debt                  256984 non-null  float64
 11  Years of Credit History       256984 non-null  float64
 12  Months since last delinquent  256984 non-null  int32
 13  Number of Open Accounts       256984 non-null  int64
 14  Number of Credit Problems     256984 non-null  int64
 15  Current Credit Balance        256984 non-null  int64
 16  Maximum Open Credit           256984 non-null  object
 17  Bankruptcies                  256984 non-null  float64
 18  Tax Liens                     256984 non-null  float64
dtypes: float64(7), int32(1), int64(6), object(5)
memory usage: 36.3+ MB

In [121]:
#Kullanmayacağımız sütunları drop ettik
df.drop(["Loan ID", "Customer ID","Maximum Open Credit",'Current Credit Balance'], axis = 1, inplace = True)

In [122]:
df.head()

,Loan Status,Current Loan Amount,Term,Credit Score,Years in current job,Home Ownership,Annual Income,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Bankruptcies,Tax Liens
0,1,11520,0,741.0,10.0,Home Mortgage,33694.0,Debt Consolidation,584.03,12.3,41,10,0,0.0,0.0
1,1,3441,0,734.0,4.0,Home Mortgage,42269.0,Other,1106.04,26.3,0,17,0,0.0,0.0
2,1,21029,0,747.0,10.0,Home Mortgage,90126.0,Debt Consolidation,1321.85,28.8,0,5,0,0.0,0.0
3,1,18743,0,747.0,10.0,Own Home,38072.0,Debt Consolidation,751.92,26.2,0,9,0,0.0,0.0
4,1,11731,0,746.0,4.0,Rent,50025.0,Debt Consolidation,355.18,11.5,0,12,0,0.0,0.0

In [132]:
#kategori değişkenlere dummy variable uyguladık
df = pd.get_dummies(df, drop_first = True)

In [133]:
df.head()

,Loan Status,Current Loan Amount,Term,Credit Score,Years in current job,Annual Income,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Bankruptcies,Tax Liens,Home Ownership_Own Home,Home Ownership_Rent,Purpose_Buy House,Purpose_Buy a Car,Purpose_Debt Consolidation,Purpose_Educational Expenses,Purpose_Home Improvements,Purpose_Medical Bills,Purpose_Other,Purpose_Take a Trip
0,1,11520,0,741.0,10.0,33694.0,584.03,12.3,41,10,0,0.0,0.0,0,0,0,0,1,0,0,0,0,0
1,1,3441,0,734.0,4.0,42269.0,1106.04,26.3,0,17,0,0.0,0.0,0,0,0,0,0,0,0,0,1,0
2,1,21029,0,747.0,10.0,90126.0,1321.85,28.8,0,5,0,0.0,0.0,0,0,0,0,1,0,0,0,0,0
3,1,18743,0,747.0,10.0,38072.0,751.92,26.2,0,9,0,0.0,0.0,1,0,0,0,1,0,0,0,0,0
4,1,11731,0,746.0,4.0,50025.0,355.18,11.5,0,12,0,0.0,0.0,0,1,0,0,1,0,0,0,0,0

In [134]:
#hedef sütunu ile diğer sütunlar arasındaki korelasyona baktık
abs(df.corr()['Loan Status']).sort_values(ascending=False)

Loan Status                     1.000000
Current Loan Amount             0.209140
Credit Score                    0.191559
Term                            0.158569
Annual Income                   0.053507
Home Ownership_Rent             0.052967
Years of Credit History         0.030149
Purpose_Buy a Car               0.019681
Purpose_Home Improvements       0.018178
Number of Open Accounts         0.017602
Years in current job            0.016982
Monthly Debt                    0.014033
Tax Liens                       0.010739
Number of Credit Problems       0.009090
Home Ownership_Own Home         0.006862
Purpose_Medical Bills           0.004362
Purpose_Other                   0.003693
Purpose_Buy House               0.002251
Purpose_Debt Consolidation      0.001182
Purpose_Educational Expenses    0.000450
Purpose_Take a Trip             0.000357
Months since last delinquent    0.000327
Bankruptcies                    0.000100
Name: Loan Status, dtype: float64

In [125]:
pip install xgboost

Requirement already satisfied: xgboost in c:\users\lenovo\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: numpy in c:\users\lenovo\appdata\roaming\python\python38\site-packages (from xgboost) (1.19.5)
Requirement already satisfied: scipy in c:\users\lenovo\anaconda3\lib\site-packages (from xgboost) (1.5.2)
Note: you may need to restart the kernel to use updated packages.

In [136]:
#KULLANACAĞIMIZ MODEL VE KÜTÜPHANELERİ İMPORT EDİYORUZ
from sklearn.metrics import accuracy_score,precision_score,recall_score,f1_score
from sklearn.metrics import confusion_matrix,classification_report
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import BernoulliNB
from xgboost import XGBClassifier
gbc=GradientBoostingClassifier()
rfc=RandomForestClassifier()
dtc=DecisionTreeClassifier()
lr=LogisticRegression()
kn=KNeighborsClassifier()
g=GaussianNB()
b=BernoulliNB()
xgbc=XGBClassifier()

In [137]:
algorithms=[gbc,rfc,dtc,lr,kn,g,b,xgbc]
names=['GradientBoosting','RandomForest','DecisionTree','LogisticRegression','KNeighbours','GaussianNB','BernoulliNB','ExtraGradient']

In [138]:
#veri setimizi ikiye ayıdık
x_train=df.drop('Loan Status',axis=1)#hedef sütunu train sütunndan çıkardık
y_train=df['Loan Status']

In [139]:
def algo_test(X,Y,algorithms=algorithms, names=names):
    #fit the data
    for i in range(len(algorithms)):
        algorithms[i]=algorithms[i].fit(X,Y)
    #print metrics
    accuracy=[]
    precision=[]
    recall=[]
    f1=[]
    for i in range(len(algorithms)):
        accuracy.append(accuracy_score(Y,algorithms[i].predict(X)))
        
        precision.append(precision_score(Y, algorithms[i].predict(X)))
        
        recall.append(recall_score(Y, algorithms[i].predict(X)))
        
        f1.append(f1_score(Y, algorithms[i].predict(X)))
        
    metrics=pd.DataFrame(columns=['Accuracy','Precision','Recall','F1'],index=names)
    metrics['Accuracy']= accuracy
    metrics['Precision']= precision
    metrics['Recall']= recall
    metrics['F1']= f1
    return metrics.sort_values('F1',ascending=False)

In [140]:
#bazı classification algoritmalarını çalıştıran donksiyonu çağırdık
algo_test(x_train, y_train,algorithms)

[18:44:20] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

                    Accuracy  Precision    Recall        F1
DecisionTree        1.000000   1.000000  1.000000  1.000000
RandomForest        0.999995   0.999994  1.000000  0.999997
KNeighbours         0.837724   0.852501  0.968988  0.907020
ExtraGradient       0.826565   0.829776  0.990964  0.903235
GradientBoosting    0.818554   0.821882  0.993087  0.899410
BernoulliNB         0.816829   0.816842  0.999977  0.899179
LogisticRegression  0.816732   0.816827  0.999852  0.899120
GaussianNB          0.346402   1.000000  0.199840  0.333111

In [141]:
#burda pycaret ile bütün classification algoritmalarını sonuçlarını gördük
from pycaret.classification import *
exp_name=setup(data=df ,target='Loan Status')

In [142]:
best_model=compare_models()

In [3]:
!pip install jupyterlab

Requirement already satisfied: jupyterlab in c:\users\lenovo\anaconda3\lib\site-packages (2.2.6)
Requirement already satisfied: notebook>=4.3.1 in c:\users\lenovo\anaconda3\lib\site-packages (from jupyterlab) (6.1.4)
Requirement already satisfied: tornado!=6.0.0,!=6.0.1,!=6.0.2 in c:\users\lenovo\anaconda3\lib\site-packages (from jupyterlab) (6.0.4)
Requirement already satisfied: jupyterlab_server<2.0,>=1.1.5 in c:\users\lenovo\anaconda3\lib\site-packages (from jupyterlab) (1.2.0)
Requirement already satisfied: jinja2>=2.10 in c:\users\lenovo\anaconda3\lib\site-packages (from jupyterlab) (2.11.2)
Requirement already satisfied: terminado>=0.8.3 in c:\users\lenovo\anaconda3\lib\site-packages (from notebook>=4.3.1->jupyterlab) (0.9.1)
Requirement already satisfied: prometheus-client in c:\users\lenovo\anaconda3\lib\site-packages (from notebook>=4.3.1->jupyterlab) (0.8.0)
Requirement already satisfied: nbconvert in c:\users\lenovo\anaconda3\lib\site-packages (from notebook>=4.3.1->jupyterlab) (6.0.7)
Requirement already satisfied: ipykernel in c:\users\lenovo\anaconda3\lib\site-packages (from notebook>=4.3.1->jupyterlab) (5.3.4)
Requirement already satisfied: nbformat in c:\users\lenovo\anaconda3\lib\site-packages (from notebook>=4.3.1->jupyterlab) (5.0.8)
Requirement already satisfied: jupyter-core>=4.6.1 in c:\users\lenovo\anaconda3\lib\site-packages (from notebook>=4.3.1->jupyterlab) (4.6.3)
Requirement already satisfied: jupyter-client>=5.3.4 in c:\users\lenovo\anaconda3\lib\site-packages (from notebook>=4.3.1->jupyterlab) (6.1.7)
Requirement already satisfied: argon2-cffi in c:\users\lenovo\anaconda3\lib\site-packages (from notebook>=4.3.1->jupyterlab) (20.1.0)
Requirement already satisfied: ipython-genutils in c:\users\lenovo\anaconda3\lib\site-packages (from notebook>=4.3.1->jupyterlab) (0.2.0)
Requirement already satisfied: pyzmq>=17 in c:\users\lenovo\anaconda3\lib\site-packages (from notebook>=4.3.1->jupyterlab) (19.0.2)
Requirement already satisfied: traitlets>=4.2.1 in c:\users\lenovo\anaconda3\lib\site-packages (from notebook>=4.3.1->jupyterlab) (5.0.5)
Requirement already satisfied: Send2Trash in c:\users\lenovo\anaconda3\lib\site-packages (from notebook>=4.3.1->jupyterlab) (1.5.0)
Requirement already satisfied: jsonschema>=3.0.1 in c:\users\lenovo\anaconda3\lib\site-packages (from jupyterlab_server<2.0,>=1.1.5->jupyterlab) (3.2.0)
Requirement already satisfied: json5 in c:\users\lenovo\anaconda3\lib\site-packages (from jupyterlab_server<2.0,>=1.1.5->jupyterlab) (0.9.5)
Requirement already satisfied: requests in c:\users\lenovo\anaconda3\lib\site-packages (from jupyterlab_server<2.0,>=1.1.5->jupyterlab) (2.24.0)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\lenovo\anaconda3\lib\site-packages (from jinja2>=2.10->jupyterlab) (1.1.1)
Requirement already satisfied: pywinpty>=0.5 in c:\users\lenovo\anaconda3\lib\site-packages (from terminado>=0.8.3->notebook>=4.3.1->jupyterlab) (0.5.7)
Requirement already satisfied: jupyterlab-pygments in c:\users\lenovo\anaconda3\lib\site-packages (from nbconvert->notebook>=4.3.1->jupyterlab) (0.1.2)
Requirement already satisfied: defusedxml in c:\users\lenovo\anaconda3\lib\site-packages (from nbconvert->notebook>=4.3.1->jupyterlab) (0.6.0)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\lenovo\anaconda3\lib\site-packages (from nbconvert->notebook>=4.3.1->jupyterlab) (1.4.3)
Requirement already satisfied: testpath in c:\users\lenovo\anaconda3\lib\site-packages (from nbconvert->notebook>=4.3.1->jupyterlab) (0.4.4)
Requirement already satisfied: pygments>=2.4.1 in c:\users\lenovo\anaconda3\lib\site-packages (from nbconvert->notebook>=4.3.1->jupyterlab) (2.7.2)
Requirement already satisfied: nbclient<0.6.0,>=0.5.0 in c:\users\lenovo\anaconda3\lib\site-packages (from nbconvert->notebook>=4.3.1->jupyterlab) (0.5.1)
Requirement already satisfied: entrypoints>=0.2.2 in c:\users\lenovo\anaconda3\lib\site-packages (from nbconvert->notebook>=4.3.1->jupyterlab) (0.3)
Requirement already satisfied: bleach in c:\users\lenovo\anaconda3\lib\site-packages (from nbconvert->notebook>=4.3.1->jupyterlab) (3.2.1)
Requirement already satisfied: mistune<2,>=0.8.1 in c:\users\lenovo\anaconda3\lib\site-packages (from nbconvert->notebook>=4.3.1->jupyterlab) (0.8.4)
Requirement already satisfied: ipython>=5.0.0 in c:\users\lenovo\anaconda3\lib\site-packages (from ipykernel->notebook>=4.3.1->jupyterlab) (7.19.0)
Requirement already satisfied: pywin32>=1.0; sys_platform == "win32" in c:\users\lenovo\anaconda3\lib\site-packages (from jupyter-core>=4.6.1->notebook>=4.3.1->jupyterlab) (227)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\lenovo\anaconda3\lib\site-packages (from jupyter-client>=5.3.4->notebook>=4.3.1->jupyterlab) (2.8.1)
Requirement already satisfied: six in c:\users\lenovo\anaconda3\lib\site-packages (from argon2-cffi->notebook>=4.3.1->jupyterlab) (1.15.0)
Requirement already satisfied: cffi>=1.0.0 in c:\users\lenovo\anaconda3\lib\site-packages (from argon2-cffi->notebook>=4.3.1->jupyterlab) (1.14.3)
Requirement already satisfied: setuptools in c:\users\lenovo\anaconda3\lib\site-packages (from jsonschema>=3.0.1->jupyterlab_server<2.0,>=1.1.5->jupyterlab) (50.3.1.post20201107)
Requirement already satisfied: pyrsistent>=0.14.0 in c:\users\lenovo\anaconda3\lib\site-packages (from jsonschema>=3.0.1->jupyterlab_server<2.0,>=1.1.5->jupyterlab) (0.17.3)
Requirement already satisfied: attrs>=17.4.0 in c:\users\lenovo\anaconda3\lib\site-packages (from jsonschema>=3.0.1->jupyterlab_server<2.0,>=1.1.5->jupyterlab) (20.3.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\lenovo\anaconda3\lib\site-packages (from requests->jupyterlab_server<2.0,>=1.1.5->jupyterlab) (1.25.11)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\lenovo\anaconda3\lib\site-packages (from requests->jupyterlab_server<2.0,>=1.1.5->jupyterlab) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\lenovo\anaconda3\lib\site-packages (from requests->jupyterlab_server<2.0,>=1.1.5->jupyterlab) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in c:\users\lenovo\anaconda3\lib\site-packages (from requests->jupyterlab_server<2.0,>=1.1.5->jupyterlab) (2.10)
Requirement already satisfied: async-generator in c:\users\lenovo\anaconda3\lib\site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert->notebook>=4.3.1->jupyterlab) (1.10)
Requirement already satisfied: nest-asyncio in c:\users\lenovo\anaconda3\lib\site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert->notebook>=4.3.1->jupyterlab) (1.4.2)
Requirement already satisfied: packaging in c:\users\lenovo\anaconda3\lib\site-packages (from bleach->nbconvert->notebook>=4.3.1->jupyterlab) (20.4)
Requirement already satisfied: webencodings in c:\users\lenovo\anaconda3\lib\site-packages (from bleach->nbconvert->notebook>=4.3.1->jupyterlab) (0.5.1)
Requirement already satisfied: backcall in c:\users\lenovo\anaconda3\lib\site-packages (from ipython>=5.0.0->ipykernel->notebook>=4.3.1->jupyterlab) (0.2.0)
Requirement already satisfied: jedi>=0.10 in c:\users\lenovo\anaconda3\lib\site-packages (from ipython>=5.0.0->ipykernel->notebook>=4.3.1->jupyterlab) (0.17.1)
Requirement already satisfied: colorama; sys_platform == "win32" in c:\users\lenovo\anaconda3\lib\site-packages (from ipython>=5.0.0->ipykernel->notebook>=4.3.1->jupyterlab) (0.4.4)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\lenovo\anaconda3\lib\site-packages (from ipython>=5.0.0->ipykernel->notebook>=4.3.1->jupyterlab) (3.0.8)
Requirement already satisfied: pickleshare in c:\users\lenovo\anaconda3\lib\site-packages (from ipython>=5.0.0->ipykernel->notebook>=4.3.1->jupyterlab) (0.7.5)
Requirement already satisfied: decorator in c:\users\lenovo\anaconda3\lib\site-packages (from ipython>=5.0.0->ipykernel->notebook>=4.3.1->jupyterlab) (4.4.2)
Requirement already satisfied: pycparser in c:\users\lenovo\anaconda3\lib\site-packages (from cffi>=1.0.0->argon2-cffi->notebook>=4.3.1->jupyterlab) (2.20)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\lenovo\anaconda3\lib\site-packages (from packaging->bleach->nbconvert->notebook>=4.3.1->jupyterlab) (2.4.7)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\users\lenovo\anaconda3\lib\site-packages (from jedi>=0.10->ipython>=5.0.0->ipykernel->notebook>=4.3.1->jupyterlab) (0.7.0)
Requirement already satisfied: wcwidth in c:\users\lenovo\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=5.0.0->ipykernel->notebook>=4.3.1->jupyterlab) (0.2.5)

In [5]:
jupyter -lab

NameError: name 'jupyter' is not defined